<!--<div class="row">
	<div class="col-xs-8">
		<a href="#/{{ index }}">
			<div class="col-xs-5">
				<span >{{ todo.task }}</span>
			</div>
			<div class="col-xs-2">
				<span>{{ todo.duration }}</span>
			</div>
			<div class="col-xs-1">
				<span><input type="button" class= "btn btn-sm btn-primary" value="select" /></span>
			</div>
		</a>
	</div>
	<div class="col-xs-1">	
		<span><input type="button" class = "btn btn-sm btn-danger" value="delete" ng-click="schedule.removeBlock(todo)" /></span>
	</div>
</div>-->

<table class="table table-striped table-hover tasklist">
	<tbody>
	 
<tr ng-repeat="block in schedule.blocks()">
	<td>
		<a href="#/{{ $index}}">
			<span >{{ block.task }}</span>
			<span>{{ block.duration }}</span>
		</a>
	</td>
	<td>
		<a class="btn btn-sm btn-primary" href="#/{{ $index}}">select</a>
		<input type="button" class = "btn btn-sm btn-danger" value="delete" ng-click="schedule.removeBlock(block)" />
	</td>
	<td>
		COMPLETED PLACEHOLDER
	</td>
</tr>
</tbody>
</table>
